body{
  margin: 0;
    padding: 0;
    background: url(../img/fondo3.jpg);   
    background-size: cover;
    background-position: center;
font-family: 'Fjalla One', sans-serif;

}


#justificacion {
  background: #f1f1f1;
  padding: 30px 40px 30px 40px;
  text-align: justify;
  margin-top: 30px;
}
#intro {

  text-align:justify;
}
#imgmarco {
  display: block;
  margin: 0 auto;
}
#sistemenfri{
  padding: 30px 40px 30px 40px;
  text-align: justify;
  margin-top: 30px;

}
#supercon {
  padding: 30px 40px 30px 40px;
text-align: justify;
margin-top: 30px;}
#refi {
  padding: 10px 60px 10px 60px;
  text-align: justify;
  margin-top: 30px;

}
#for1 {
  display: block;
  margin: 0 auto;
}
#for2 {
  display: block;
  margin: 0 auto;
}
#for3 {
  display: block;
  margin: 0 auto;
}
#for4 {
  display: block;
  margin: 0 auto;
}
#tiempo {padding: 10px 60px 10px 60px;
text-align: justify;
margin-top: 30px;}
